@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<link href="~/css/Error.css" rel="stylesheet" />
<body>
    <div class="BodyDiv">
        <div class="div404" title="404">404</div>
    </div>
    
</body>
</html>
